<?xml version='1.0' encoding='utf-8'?>
<widget id="ishigo1987.tabristest" version="0.1.0">
  <name>Tabris Test</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="stephnguets@yahoo.fr">
    ishigo1987
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-plugin-contacts" spec="https://github.com/apache/cordova-plugin-contacts.git" />
  <plugin name="cordova-plugin-android-permissions" spec="0.1.0" />
</widget>
