<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tabris.app" version="0.1.0" android-versionCode="100" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Tabris Test</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="stephnguets@yahoo.fr">
    ishigo1987
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
  <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
  <plugin name="cordova-plugin-camera-preview" spec="https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.git" />
  <platform name="android">
  	<config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
  </platform>
</widget>